<div class="container">
  <h1>Welcome to Url Shortener</h1>
  <form action='/url/shorten' method='post' >
    Url: <input type="text" name="original_url">
    <input type='submit' name="Make it shorter!!">
  </form>

</div>
