<div class="container">
<center>
  <h1>Welcome to Url Shortener</h1>

  <form action='/link/shorten' method='post' >
    Url: <input type="text" value="<%= @incorrect_url %>" name="original_link">
    <input type='submit' name="Make it shorter!!">
    <br>
    <% unless @incorrect_url.class == nil %>
    Invalid Url
    <%end%>
  </form>

<br><hr>
<a href='/posts/new'>See all links.</a></center>
</div>


